@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1.section, h2.section {
  @apply text-2xl mb-4 font-medium;
}

.group-hover-arrow {
  @apply inline opacity-0 -translate-x-4 group-hover:opacity-100 group-hover:translate-x-0 transition-all mb-1;
}

* {
  box-sizing: border-box;
}

.darken-hover:hover {
  filter: brightness(0.7);
}

.project-content h2 {
  @apply mt-6 mb-2 font-semibold text-xl;
}

.project-content h3 {
  @apply mt-6 mb-2 font-medium text-lg;
}

.project-content ol {
  @apply list-decimal ml-8; 
}

.project-content a {
  @apply hover:underline; 
}

.project-content p {
  @apply my-3;
}



.post-content strong {
  @apply font-semibold;
}

.post-content p {
  @apply my-3;
}

.post-content h1 {
  @apply mt-8 mb-4 font-semibold text-2xl;
}

.post-content h2 {
  @apply mt-8 mb-2 font-semibold text-xl;
}

.post-content h3 {
  @apply mt-8 mb-2 font-semibold text-lg;
}

.post-content h4 {
  @apply mt-8 mb-2 font-semibold;
}

.post-content blockquote {
  @apply border-l-4 border-gray-200 pl-4 text-gray-700;
}

.post-content code {
  @apply bg-gray-100 py-1 px-3 rounded-lg;
}

.post-content ol {
  @apply list-decimal ml-8 my-4; 
}

.post-content ul {
  @apply list-disc ml-8 my-4; 
}

.post-content li {
  @apply my-2;
}

.post-content a {
  @apply underline;
}